<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>Ryujinx</string>
    <key>CFBundleGetInfoString</key>
    <string>Ryujinx</string>
    <key>CFBundleIconFile</key>
    <string>Ryujinx.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nca</string>
				<string>nro</string>
				<string>nso</string>
				<string>nsp</string>
				<string>xci</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nintendo Switch File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
    <key>CFBundleIdentifier</key>
    <string>org.ryujinx.Ryujinx</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLongVersionString</key>
    <string>%%RYUJINX_BUILD_VERSION%%-%%RYUJINX_BUILD_GIT_HASH%%"</string>
    <key>CFBundleName</key>
    <string>Ryujinx</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.1.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CSResourcesFileMapped</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2018 - 2023 Ryujinx Team and Contributors.</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.games</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeDescription</key>
        <string>Extensible Application Markup Language</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.xml</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.ryujinx.xaml</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>xaml</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeDescription</key>
        <string>Nintendo Submission Package</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.ryujinx.nsp</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>nsp</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeDescription</key>
        <string>Nintendo Switch Cartridge</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.ryujinx.xci</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>xci</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeDescription</key>
        <string>Nintendo Content Archive</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.ryujinx.nca</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>nca</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeDescription</key>
        <string>Nintendo Relocatable Object</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.ryujinx.nro</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>nro</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeDescription</key>
        <string>Nintendo Shared Object</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.ryujinx.nso</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>nso</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>LSEnvironment</key>
    <dict>
        <key>DOTNET_DefaultStackSize</key>
        <string>200000</string>
    </dict>
</dict>
</plist>
